<!-- flash alert message start -->
<div class="mb-1 alert-messages">
    <% if(success.length>0) { %>
        <div class="alert success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= success %>
        </div>
    <% } else { %>
        <% if(error.length>0) { %>
            <div class="alert fail">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= error %>
            </div>
        <% } %>
    <% } %>
</div>
<!-- flash alert message end -->