        <!-- footer start -->
        <footer class="ldpFooter mt-4">
            <p class="mb-0 py-2">Copyright &copy; -
                <script>
                    document.write(new Date().getFullYear());
                </script>
                WebGhat Pvt Ltd. All rights reserved. <a href="">Privacy Policy</a> | <a href="">Terms of use</a> |
                Product designed and maintained by
                <a href="https://webghat.com" target="_blank">WebGhat</a>
            </p>
        </footer>
        <!-- footer end -->

        <!-- Jquery CDNs -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <!-- local JS -->
        <script type="text/javascript" src="/js/mdb.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/custom.js"></script>

    </body>
</html>