<!-- Topnav start -->
<div class="container-fluid p-0">
    <div class="row justify-content-center mx-0">
        <nav class="navbar">
            <div class="container-fluid py-2">
                <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary menuBtn" type="button" data-toggle="sidenav" data-target="#sidenav"
                        aria-controls="#sidenav" aria-expanded="false" onmouseover="openNav()">
                        <i class="fas fa-bars pr-2"></i> Menu
                    </a>
                </div>
                <div class="mx-auto">
                    <img style="height: 44px; width: auto;" class="img-fluid" src="img/webghat-fff.png" alt="WebGhat Inc">
                </div>
                <div class="d-flex align-items-center">
                    <a href="/userProfile" type="button" class="me-3 mx-3 userAvatar">
                        <img src="img/ddr/Amit.png" alt="Avatar not found!">
                    </a>
                    <a href="/contactSupport" type="button" class="btn btn-primary me-3">Contact</a>
                    <!-- <a href="/logout" type="button" class="btn btn-danger me-3">Logout</a> -->
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Topnav end -->